html, body {
    background-color: #ffff;
    font-family: Arial, Helvetica, sans-serif;


}

body {
    margin-top: 20px;
}

.timeline-steps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

.blue {
    color: #033E8C8c;
}

.bg-purple {
    background-color: #7285f2;
    color: #ffff;
}

.purple {
    color: #7285f2;
}

.bg-grey {
    background-color: #73726C;
}

.grey {
    color: #73726C;
}

nav a:hover {
    border-top: 4px solid #7285f2;
    border-bottom: 4px solid #7285f2;
    padding: 6px 0;
}

.timeline-steps .timeline-step {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1rem
}


.timeline-steps .timeline-content {
    width: 10rem;
    text-align: center
}

.timeline-steps .timeline-content .inner-circle {
    border-radius: 1.5rem;
    height: 1rem;
    width: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #3b82f6
}

.timeline-steps .timeline-content .inner-circle:before {
    content: "";
    background-color: #3b82f6;
    display: inline-block;
    height: 3rem;
    width: 3rem;
    min-width: 3rem;
    border-radius: 6.25rem;
    opacity: .5
}

.icon-circle {
    width: 50px; /* Increased width for better visibility */
    height: 50px; /* Increased height for better visibility */
    display: flex; /* Use flex to center the icon */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    border-radius: 50%; /* Make it perfectly round */
    margin: 0; /* Reset margin */
}

.hover-link {
    color: #7285f2; /* Default link color */
    transition: color 0.3s; /* Smooth transition */
}

.hover-link:hover {
    color: #000; /* Change link color on hover */
    text-decoration: underline; /* Underline effect */
}

.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-menu {
    margin-top: 0px;
}

@media (min-width: 768px) {
    .timeline-steps .timeline-step:not(:last-child):after {
        content: "";
        display: block;
        border-top: .25rem dotted #3b82f6;
        width: 3.46rem;
        position: absolute;
        left: 7.5rem;
        top: .3125rem
    }

    .timeline-steps .timeline-step:not(:first-child):before {
        content: "";
        display: block;
        border-top: .25rem dotted #3b82f6;
        width: 3.8125rem;
        position: absolute;
        right: 7.5rem;
        top: .3125rem
    }
}
